// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=10v0W0kdLgy25uf8jmAnEdkM19T */
$color-primary-0: #84654B;	// Main Primary color */
$color-primary-1: #F1E9E1;
$color-primary-2: #B49B85;
$color-primary-3: #6A401C;
$color-primary-4: #4F2400;